body {
    font-family: Arial, sans-serif;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: hsla(0, 0%, 0%, 0.5);
}

main {
    width: 500px;
    padding: 20px;
    background-color: hsl(0, 0%, 80%);
    box-shadow: 0 0 50px hsla(0, 0%, 0%, 0.3);
}

#btn-container {
    display: flex;
    flex-wrap: wrap;
}

.number,
.operator,
#backspace {
    width: calc(100%/4);
}

#clear,
#equal {
    width: calc((100%/4)*2);
}

button {
    height: 100px;
    border: 1px solid hsl(0, 0%, 100%);
    font-size: 1.5rem;
    color: hsl(0, 0%, 15%);
}

.number {
    background-color: hsla(26, 93%, 80%);
}

.operator,
#equal {
    background-color: hsla(33, 100%, 60%);
}

#clear {
    background-color: hsla(0, 100%, 70%);
}

#backspace {
    background-color: hsla(0, 0%, 80%);
}

#display {
    width: 100%;
    box-sizing: border-box;
    font-size: 4rem;
    overflow: hidden;
    text-align: right;
    background-color: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 15%);
    padding: 30px 20px;
}